.hand {
  position: absolute;
  left: 210px;
  top: 210px;
  background-color: black;
  transform-origin: top center;
}

#clock-face {
  position: relative;
  width: 420px;
  height: 420px;
  border: 1px solid black;
  border-radius: 50%;
}

#hour-hand {
  width: 4px;
  height: 100px;
}

#minute-hand {
  width: 2px;
  height: 180px;
}

#second-hand {
  width: 2px;
  height: 200px;
  background-color: red;
}
